#espacoNumeros{

    line-height: 60px;

}

#numeroIsolado{

    cursor: pointer;
    color: white;
    background-color: #008ee8;
    border: 5px solid white;
    border-radius: 15px;

}

#numeroIsolado:hover{

    background-color: #006fb4;

}

#corpoNumeros{

    min-height: 80%;

}