#espacoNumeros{

    line-height: 60px;

}

#numeroIsolado{

    font-size: 23px;
    cursor: pointer;
    color: #00b4ff;

}

#numeroIsolado:hover{

    color: #008bc7;

}

#corpoNumeros{

    min-height: 53%;

}